body {
    font-family: Arial, sans-serif;
    background: #f1f1f1;
    padding: 2rem;
    display: flex;
    justify-content: center;
    color: #363636;
  }
  
  .bank-container {
    text-align: center;
  }
  
  h1 {
    margin-bottom: 1rem;
  }
  
  .balances {
    margin-bottom: 1.5rem;
  }
  
  .balances div {
    font-size: 1.1rem;
    margin: 0.5rem 0;
  }
  
  input {
    width: 100%;
    padding: 0.7rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    margin-bottom: 7px;
  }
  
  button {
    transition: all 0.3s ease-in-out; 
    width: 42%;
    padding: 0.5rem;
    margin: 0.25rem;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }

  button:hover{
    transform: scale(1.06);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.267);
  }
  
  .deposit-btn {
    background: rgb(4, 204, 71);
    color: white;
  }

  .deposit-btn:hover {
    background-color: rgb(5, 138, 49);
  }
  
  .withdraw-btn {
    background: #424242;
    color: white;
  }

  .withdraw-btn:hover {
    background-color: #1d1d1d;
  }
  
  .error {
    color: #084e08;
    font-size: 0.9rem;
    margin-top: 0.5rem;
  }
  
  .success {
    color: rgb(4, 204, 71);
    font-size: 0.9rem;
    margin-top: 0.5rem;
  }
  