body {
    font-family: 'Segoe UI', sans-serif;
    background: #f1f1f1;
    margin: 0;
    padding: 2rem;
    display: flex;
    color: #363636;
    justify-content: center;
  }
  
  .upload-container {
    text-align: center;
  }
  
  h1 {
    margin-bottom: 1rem;
  }
  
  form {
    margin-bottom: 1rem;
  }
  
  input[type="file"] {
    margin-bottom: 0.75rem;
  }
  
  button {
    padding: 0.5rem 1rem;
    transition: all 0.3s ease-in-out; 
    background-color: rgb(4, 204, 71);
    font-size: 16px;
    padding: 8px 18px;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  button:hover {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.267);
    background-color: rgb(5, 138, 49);
    transform: scale(1.06);
  }
  
  .error-message {
    color: #084e08;
    font-size: 0.9rem;
    margin-top: 0.5rem;
  }
  
  .preview-section {
    display: none;
  }
  
  #imageContainer img {
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 1rem;
  }
  